.pace {
	-webkit-pointer-events: none;
	pointer-events: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	-webkit-transform: translate3d(0, -50px, 0);
	-ms-transform: translate3d(0, -50px, 0);
	transform: translate3d(0, -50px, 0);

	-webkit-transition: transform .5s ease-out;
	-ms-transition: transform .5s ease-out;
	transition: transform .5s ease-out;
}

.pace.pace-active {
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.pace .pace-progress {
	display: block;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 3px;
	background: white;

	pointer-events: none;
}

html {
  background-color: black;
}

body {
  animation: fadeInAnimation ease-in 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  font-family: "basis-grotesque", Arial, sans-serif;
  background-color: #F2F2F2;
  margin: 0;
}

body, html {
  font-size: 18px;
  line-height: 1.667;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: scroll;
}

span, p, h1, h2, .section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

h2 {
  font-family: basis-grotesque;
}

a {
  color: black;
}

a:hover{
  color: black;
}

a:after {
  color: black;
}

.sections {
  margin: 0;
  padding: 0;
  border: 0;
}

.content-container {
  margin-right: auto;
  margin-left: auto;
  padding: 0 1.667rem;
  margin-top: 6px;
  font-size: 0.667rem; 
  line-height: 0.833rem; 
  padding-right: 1.66667rem;
}


.cover-container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
}

.project-container {
  max-width: 1230px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 0.667rem;
}

.row {
  display: flex;
  flex: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.headline {
  position: fixed;
  display: block;
  left: 0.722rem;
  margin: 0;
}

.page-title {
  position: fixed;
  display: block;
  right: 0.722rem;
  margin: 0;
}

/* Column Width Layout Options */

.column {
  display: flex;
  flex-direction: row;
  word-wrap: break-word;
  border: 0;
  position: relative;
  padding-top: 0rem;
  margin-top: -2.5rem;
  padding-right: 0rem;
  padding-bottom: 0rem;
  padding-left: 0.055rem;
}

.column-spacer-wide {
  width: calc(100% / 12 * 8);
  max-width: calc(100% / 12 * 8);
  flex: 0 0 auto;
  flex-basis: calc(100% / 12 * 8);
  min-height: 180px;
}

.column-spacer-narrow {
  width: calc(100% / 12 * 6);
  max-width: calc(100% / 12 * 6);
  flex: 0 0 auto;
  flex-basis: calc(100% / 12 * 6);
  min-height: 180px;
  padding-left: 4px;
  padding-right: 4px;
}

.mini-column {
  margin-top: 0;
  padding-left: 4px;
  width: calc(100% / 12 * 2);
  max-width: calc(100% / 12 * 2);
  flex: 0 0 auto;
  flex-basis: calc(100% / 12 * 2);
}

.small-column {
  margin-top: 0;
  padding-left: 8px;
  width: calc(100% / 12 * 3);
  max-width: calc(100% / 12 * 3);
  flex: 0 0 auto;
  flex-basis: calc(100% / 12 * 3);
}


.s-medium-column {
  margin-top: 0;
  padding-left: 8px;
  width: calc(100% / 12 * 4.5);
  max-width: calc(100% / 12 * 4.5);
  flex: 0 0 auto;
  flex-basis: calc(100% / 12 * 4.5);
}

.medium-column {
  padding-left: 8px;
  width: calc(100% / 12 * 5);
  max-width: calc(100% / 12 * 5);
  flex: 0 0 auto;
  flex-basis: calc(100% / 12 * 5);
}

.large-column {
  padding-left: 8px;
  width: calc(100% / 12 * 7);
  max-width: calc(100% / 12 * 7);
  flex: 0 0 auto;
  flex-basis: calc(100% / 12 * 7);
}

.wide-column {
  padding-left: 8px;
  width: calc(100% - (100% / 12 * 3.5) - 8px);
  max-width: calc(100% - (100% / 12 * 3.5) - 8px);
  flex: 0 0 auto;
  flex-basis: calc(100% - (100% / 12 * 3.5) - 8px);;
}

.double-column {
  padding-left: 13px;
  width: calc(100% / 12 * 10);
  max-width: calc(100% / 12 * 10);
  flex: 0 0 auto;
  flex-basis: calc(100% / 12 * 10);
}

.photo-column {
  width: calc(100% / 12 * 4);
  max-width: calc(100% / 12 * 4);
  flex: 0 0 auto;
  flex-basis: calc(100% / 12 * 4);
}

/*aka medium-paired*/
.moving-column {
  padding-left: 8px;
  width: calc(100vw - (100% / 12 * 5) - 68px);
  max-width: calc(100vw - (100% / 12 * 5) - 68px);
  flex: 0 0 auto;
  flex-basis: calc(100vw - (100% / 12 * 5) - 68px);
}

.mini-paired-column {
  width: calc(100% / 12 * 8);
  max-width: calc(100% / 12 * 8);
  flex: 0 0 auto;
  flex-basis: calc(100% / 12 * 8);
}

.half-column {
  padding-left: 0px;
  width: calc(50vw - 40px);
  max-width: calc(50vw - 40px);
  flex: 0 0 auto;
  flex-basis: calc(50vw - 40px);
}

/******/

.content-row {
  justify-content: center;
  padding-top: 5rem;
}

.more {
  padding-left: 40px;
}

.more-projects-text {
  padding-left: 1.667rem;
}

#section-projects {
  padding-left: 40px;
  margin-top: 0rem;
  margin-right: 0rem;
  padding-bottom: 0rem;
  margin-bottom: 0.5555555555555556rem;
  margin-left: 0rem;
  border-width: 0.555rem;
  border-style: solid;
  border-color: #F2F2F2;
  background-color: #F2F2F2;
}

#section_cover {
  height: 100vh;
  width: 100%;
}

#section-case-study {
  position: absolute;
  margin-top: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 100%;
}

#project-name {
  font-family: "basis-grotesque-bold";
  text-transform: uppercase;
  font-style: bold;
}

#project-credits {
  margin-top: 0;
  width: calc(100% / 12 * 3);
  max-width: calc(100% / 12 * 3);
  flex-basis: calc(100% / 12 * 3);
}

.img-only {
  padding-bottom:2.667rem;
  padding-top: 0 !important;
}


/* Sidebar Nav */
.section-name {
  z-index: 999;
  white-space: nowrap; 
  position: fixed;
  animation: slideInAnimation ease-in 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  width: 100vh;

  transform-origin: 0 0;
  transform: rotate(270deg);

  left: 0;
  top: 100vh;

  display: inline-block;

  height: 40px;
  border-bottom: solid black 1px;
}

.section-name object {
  width: 20px;
  vertical-align: middle;
}

.section-name .object-holder {
  position: relative;
  
  width: 40px;
  height:  40px;
  line-height: 37px;

  border-bottom: solid black 1px;
}

.section-name > li {
  width: 45px;
  text-align: center;
}

.section-name > li object {
  transform-origin: 50% 50%;
  transform: rotate(90deg);
}

.section-name > div > div {
  text-align: center; 
  width:100px;
}

.section-name div a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.6rem;
  line-height: 40px;
  letter-spacing: 0.2em;
}

.section-name > li a:hover {
  animation: growthAnimation ease-in 0.1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.section-name .tabs:hover {
  animation: borderAnimation ease-in 0.1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.section-name .tabs {
  animation: borderReverse ease-out 0.1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

.section-name li a {
  line-height: 40px;
  animation: growthReverse ease-out 0.1s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

/* Footnotes */
#footnotes {
  margin-top: 10px;
  padding: 0;
}

#footnote-grid {
  display: grid;
  align-items: center;
}

#footnote-grid .column {
}

#footnote-grid .row {
  margin-top: 50px;
  align-items: center;
}

#footnote-grid .note {
  margin-left: 10px;
  font-size: 0.667rem;
  line-height: 0.833rem;  
}

#footnote-column {
  margin-top: 40px;
  margin-left: 15px;
}

.footnote-accent span {
  box-shadow: inset 0px -75px 0px 0px rgba(255, 68, 0, 0.75);
}


/* Gallery CSS */

.image-container {
  display: grid;
  grid-gap: 0.555rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-flow: dense;
}

.image-container img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-row img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.25);
  top: 0;
  left: 0;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coming-soon {
  opacity:100%;
  background: rgba(57, 57, 57, 0.5);
}

.img-column {
  position: relative;
  width: 100%;
}

.img-column:hover .overlay {
  opacity: 1;
}

/* carousel */

.carousel-cell {
  /* aspect ration: 1920 x 1309 */
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.carousel-cell img {
  width: 100%;
  height: auto;
}

.flickity-button {
  background: transparent;
  color: black;
  width: 30px;
}

.flickity-button:hover {
  background: transparent;
}

.flickity-prev-next-button.previous {
  left: -35px;
}
.flickity-prev-next-button.next {
  right: -35px;
}

.flickity-page-dots {
  display: none;
}

/* CV/Contact*/

.footer-text {
  font-size: 0.667rem;
  line-height: 0.833rem;  
}

#section-footer {
  padding-top: 3.667rem;
  padding-bottom: 1.2rem;
  padding-left: 50px;
}

.column-footer {
  max-width: 30%;
}

/* Media,  Fonts, etc. */


*, :after, :before {
  box-sizing: inherit;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes slideInAnimation {
  0% {
      margin-left: -50px;
  }
  100% {
      margin-left: inherit;
  }
}

@keyframes borderAnimation {
  0% {
  box-shadow: 0px 0px 0px 0px black inset;
  border-bottom: 0px solid black;
}
100% {
  box-shadow: 0px -2px 0px 0px black inset;
  border-bottom: 1px solid black;
}
}

@keyframes borderReverse {
  0% {
    box-shadow: 0px -2px 0px 0px black inset;
    border-bottom: 1px solid black;
}
100% {
  box-shadow: 0px 0px 0px 0px black inset;
  border-bottom: 0px solid black;
}
}

@keyframes growthAnimation {
  0% {
  width: 20px;
}
100% {
  width: 22px;
}
}

@keyframes growthAnimation {
  0% {
  width: 22px;
}
100% {
  width: 20px;
}
}





@font-face {
  font-family: "basis-grotesque-bold";
  src: url("fonts/BasisGrotesque-Bold.woff") format("woff"),
  url("fonts/BasisGrotesque-Bold.woff2") format("woff2"),
  url("fonts/BasisGrotesque-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "basis-grotesque";
  src: url("fonts/BasisGrotesque-Regular.woff") format("woff"),
  url("fonts/BasisGrotesque-Regular.woff2") format("woff2"),
  url("fonts/BasisGrotesque-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "basis-grotesque-light";
  src: url("fonts/BasisGrotesque-Light.woff") format("woff"),
  url("fonts/BasisGrotesque-Light.woff2") format("woff2"),
  url("fonts/BasisGrotesque-Light.ttf") format("truetype");
}


#about-pic-mobile {
  display: none;
}

@media screen and (min-width: 0px) and (max-width: 767.98px) {
  .row {
    flex-wrap: wrap;
  }

  .moving-column {
    padding-left: 8px;
    width: calc(100vw - 68px);
    max-width: calc(100vw - 68px);
    flex: 0 0 auto;
    flex-basis: calc(100vw - 68px);
  }

  #footnote-grid {
    margin-bottom: 20px;
    margin-top: 10px;
  }

  #footnote-column {
    padding-right: 8px;
    margin-left: 0px;
    width: calc(100vw - 44px);
    max-width: calc(100vw - 44px);
    flex: 0 0 auto;
    flex-basis: calc(100vw - 44px);
    margin-top: -20px;
  }

  #footnote-column .note {
    width: calc(100% - 20px);
    padding-left: 20px;
  }

  #about-pic {
    display: none;
  }

  #about-pic-mobile {
    display: block;
  }

  .column-footer {
    max-width: 100%;
  }

  #section-footer {
    padding-left: 50px;
    padding-right: 10px;
  }

}

@media screen and (min-width: 0) and (max-width: 544px) {
  .content-container {
    font-size: 0.944rem;
    line-height: 1.278rem;
  }

  .image-container {
    width: inherit;
  }

  .column {
    padding-left: 0;
  }

  .page-title {
    display: none;
  }
}