@charset "UTF-8";
.has-white-color {
    color: var(--preset--color--white) !important;
}
.has-white-background-color {
    background-color: var(--preset--color--white) !important;
}
.full_width,
.one_fifth,
.one_fourth,
.one_half,
.one_sixth,
.one_third {
    float: left;
}
.clear_column {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
    overflow: hidden;
}
.full_width {
    width: 100%;
}
.one_half {
    width: 50%;
}
.one_third {
    width: 33.3%;
}
.one_fourth {
    width: 25%;
}
.one_fifth {
    width: 20%;
}
.one_sixth {
    width: 16.6%;
}
@media screen and (max-width: 600px) {
    .full_width,
    .one_fifth,
    .one_fourth,
    .one_half,
    .one_sixth,
    .one_third {
        clear: both;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1em;
    }
} 
@-ms-viewport {
    width: device-width;
}
article,
footer,
header,
main {
    display: block;
}
progress {
    vertical-align: baseline;
}
.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}
.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #007bff;
    transition: width 0.6s ease;
}
progress {
    vertical-align: baseline;
}
details {
    display: block;
}
.clear:after,
.clear:before,
.site-content:after,
.site-content:before,
.site-footer:after,
.site-footer:before,
.site-header:after,
.site-header:before {
    content: "";
    display: table;
    table-layout: fixed;
}
.clear:after,
.site-content:after,
.site-footer:after,
.site-header:after {
    clear: both;
}
body.no-margin {
    margin-bottom: 0;
}
.fade-in-element {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    -webkit-transition: opacity 0.75s ease, -webkit-transform 0.75s ease;
    transition: opacity 0.75s ease, -webkit-transform 0.75s ease;
    transition: opacity 0.75s ease, transform 0.75s ease;
    transition: opacity 0.75s ease, transform 0.75s ease, -webkit-transform 0.75s ease;
}
.fade-in-element.fade-in-only {
    transform: none;
    -webkit-transform: none;
}
.fade-in-element.fade-in {
    opacity: 1;
    transform: none;
    -webkit-transform: none;
}
.fade-in-element.delay-100 {
    transition-delay: 0.25s;
}
.fade-in-element.delay-200 {
    transition-delay: 0.45s;
}
.fade-in-element.delay-300 {
    transition-delay: 0.65s;
}
.fade-in-element.delay-400 {
    transition-delay: 0.85s;
}
.loader {
    position: relative;
    float: left;
    margin: auto;
}
.loader .loading-circle {
    transition: 4s ease stroke-dashoffset;
}
.loader.loading .loading-circle {
    stroke-dashoffset: 0;
}
.scroll-marker {
    position: relative;
}
.scroll-marker .scroll {
    display: block;
    margin-top: 4px;
    float: left;
    width: 45px;
    height: 1px;
    margin-left: 15px;
    background-color: #000;
}
.scroll-marker .tagline {
    text-transform: uppercase;
    font-size: 11px;
    margin: 0;
    position: relative;
    float: left;
}
.site-main.single-project .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
@media (max-width: 768px) {
    .site-main.single-project .scrolling-wrapper {
        overflow-x: hidden;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
    }
}

.site-main.single-project .scrolling-wrapper .scroll-panel {
    display: inline-block;
    height: 100vh;
    vertical-align: top;
    margin-right: -5px;
}
@media (max-width: 768px) {
    @media (max-height: 700px) {
        .site-main.single-project .scrolling-wrapper .scroll-panel {
            height: 125vh;
        }
    }
}
.site-main.single-project .scrolling-wrapper .scroll-panel.background-white {
    background-color: #fff;
}
.site-main.single-project .scrolling-wrapper .scroll-panel .description {
    position: relative;
    top: 50%;
    transform: translateY(-40%);
    padding: 40px;
}
@media (max-width: 768px) {
    .site-main.single-project .scrolling-wrapper .scroll-panel .description {
        padding: 40px 25px;
        transform: translateY(-43%);
    }
}
.site-main.single-project .scrolling-wrapper .scroll-panel .description .title-area {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
}
.site-main.single-project .scrolling-wrapper .scroll-panel .description .title-area .title {
    margin-bottom: 0;
}
.site-main.single-project .scrolling-wrapper .scroll-panel .description .title-area .subtitle,
.site-main.single-project .scrolling-wrapper .scroll-panel .description .title-area .title {
    max-width: 650px;
    text-align: left;
}
.site-main.single-project .scrolling-wrapper .scroll-panel .description .title-area .project-content {
    margin-top: 40px;
}
.site-main.single-project .scrolling-wrapper .scroll-panel .description .title-area .project-content .user-content {
    max-width: 450px;
    white-space: normal;
    display: inline-block;
    margin-right: 80px;
}
.site-main.single-project .scrolling-wrapper .scroll-panel .description .title-area .project-content .user-content p {
    margin-bottom: 10px;
}
.site-main.single-project .scrolling-wrapper .scroll-panel .description .title-area .project-content .user-content .content-column {
    padding: 0 10px;
    margin-bottom: 10px;
}
@media (max-width: 600px) {
    .site-main.single-project .scrolling-wrapper .scroll-panel .description .title-area .project-content .user-content .content-column {
        padding: 0;
    }
}
.site-main.single-project .scrolling-wrapper .scroll-panel .description .title-area .project-content .more-information {
    display: inline-block;
    vertical-align: top;
    max-width: 300px;
}
.site-main.single-project .scrolling-wrapper .scroll-panel .description .title-area .project-content .more-information .field {
    position: relative;
    float: left;
    width: 50%;
    margin-bottom: 25px;
    min-width: 125px;
}
.site-main.single-project .scrolling-wrapper .scroll-panel .description .title-area .project-content .more-information .field p {
    margin-bottom: 5px;
}
.site-main.single-project .scrolling-wrapper .scroll-panel .description .more-info-link {
    position: relative;
    float: right;
    margin-right: 15px;
    font-size: 14px;
    cursor: pointer;
    opacity: 0;
}
.site-main.single-project .scrolling-wrapper .scroll-panel .description .scroll-marker {
    display: inline-block;
    vertical-align: middle;
    margin: 0 40px;
    margin-top: 35px;
}
.site-main.single-project .scrolling-wrapper .scroll-panel .description .scroll-marker .scroll {
    margin-top: 7.5px;
}
.site-main.single-project .scrolling-wrapper .scroll-panel .image-container {
    padding: 12.5vh 0;
    position: relative;
    height: 100vh;
    margin-left: 120px;
}
.site-main.single-project .scrolling-wrapper .scroll-panel .image-container.height-75 {
    padding: 17.5vh 0;
}
.site-main.single-project .scrolling-wrapper .scroll-panel .image-container.height-65 {
    padding: 22.5vh 0;
}
.site-main.single-project .scrolling-wrapper .scroll-panel .image-container.no-margin {
    margin-left: 0;
}
.site-main.single-project .scrolling-wrapper .scroll-panel .image-container.full-height {
    padding: 0;
}
.site-main.single-project .scrolling-wrapper .scroll-panel .image-container.feature {
    margin-right: 120px;
    margin-left: 40px;
}
.site-main.single-project .scrolling-wrapper .scroll-panel .image-container img {
    height: 100%;
    min-width: 100%;
    max-width: none;
}
@media (max-width: 768px) {
    .site-main.single-project .scrolling-wrapper .scroll-panel .image-container {
        margin-left: 0;
    }
    .site-main.single-project .scrolling-wrapper .scroll-panel .image-container.feature {
        margin-left: 0;
    }
}
.site-main.single-project .scrolling-wrapper .scroll-panel.next-project {
    width: 100vw;
    background-color: #fff;
    margin-left: -5px;
    white-space: normal;
}
@media (max-width: 768px) {
    .site-main.single-project .scrolling-wrapper .scroll-panel.next-project {
        margin-left: 0;
    }
}

.site-main.single-project .scrolling-wrapper .scroll-panel.next-project .title-area {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    max-width: 650px;
    transform: translate(-50%, -50%);
    margin-top: 40px;
}
.site-main.single-project .scrolling-wrapper .scroll-panel.next-project .title-area .overline {
    text-transform: uppercase;
    margin-bottom: 10px;
}
.site-main.single-project .scrolling-wrapper .scroll-panel.next-project .title-area .subtitle,
.site-main.single-project .scrolling-wrapper .scroll-panel.next-project .title-area .title {
    margin: 0;
    color: #000;
}
.site-main.single-project .scrolling-wrapper .scroll-panel.next-project .title-area a:hover {
    text-decoration: none;
}
.site-main.single-project .scrolling-wrapper .scroll-panel.next-project .loader {
    margin-top: 40px;
}
.site-main.single-project .fixed-progress-bar {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 40px;
    left: 40px;
    width: calc(100vw - 80px);
    z-index: 3;
}
@media (max-width: 768px) {
    .site-main.single-project .fixed-progress-bar {
        display: none;
    }
}
.site-main.single-project .fixed-progress-bar .title {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 40px;
}
@media (max-height: 768px) {
    .site-main.single-project .fixed-progress-bar .title {
        margin-bottom: 10px;
    }
}
.site-main.single-project .fixed-progress-bar .progressBar .initial {
    position: relative;
    float: left;
    width: 10%;
    height: 1px;
    background-color: #000;
}
.site-main.single-project .fixed-progress-bar .progressBar .trackBar {
    position: relative;
    float: left;
    width: 90%;
    height: 1px;
}
.site-main.single-project .fixed-progress-bar .progressBar .trackBar .tracker {
    position: relative;
    float: left;
    height: 1px;
    background-color: #000;
}
.site-main.single-project .projects-back {
    position: fixed;
    top: 65px;
    right: 40px;
    width: 30px;
    height: 30px;
    background-image: url(../../assets/img/close.png);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 105;
    opacity: 0.7;
}
.site-main.single-project .projects-back:hover {
    opacity: 1;
}
@media (max-width: 768px) {
    .site-main.single-project .projects-back {
        top: 100px;
        right: 30px;
        width: 20px;
        height: 20px;
        position: absolute;
        z-index: 99;
    }

    #more-info {
        display: flex;
    }

    .subtitle {
        max-width: 90% !important;
    }
}

